<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="NewFinalProfect">
    <test name="NewFinalProject">
        <classes>
            <class name="BaseClass"></class>
            <class name="RegisterUserTest"></class>
            <class name="NewPostAndDeleteTest"></class>
            <class name="LikeUnlikeAndCommentPostTest"></class>
            <class name="FollowAndUnfollowUserTest"></class>
            <class name="EditProfileTest"></class>
        </classes>
    </test>
</suite>